# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Node.js y Vue (App)
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Archivos Sensibles / Comandos
infra/ecr_commands.txt
.env
.env.*

# Logs y VS Code
*.log
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
